<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="756ead">  <td>19/10/11 17:40:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupUtil.Setup()[pri:0, instance:com.mota.Test.TestApplyPage3@3e6fa38a]">&gt;&gt;Setup</td> 
<td>&nbsp;</td>  <td>main@1234776885</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>19/10/11 17:40:25</td>   <td>1221</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestApplyPage3.TestApplyPage3()[pri:0, instance:com.mota.Test.TestApplyPage3@3e6fa38a]">TestApplyPage3</td> 
  <td>main@1234776885</td>   <td></td> </tr>
</table>
